/*@font-face {
    font-family: 'cheddar-jack';
    src: url('fonts/cheddar-jack.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins-Regular';
    src: url('fonts/Poppins-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins-Light';
    src: url('fonts/Poppins-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins-Medium';
    src: url('fonts/Poppins-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('fonts/Poppins-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins-Light';
    src: url('fonts/Poppins-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins-LightItalic';
    src: url('fonts/Poppins-LightItalic.ttf') format('truetype');
}


body{
    font-family: 'Poppins-Regular';

}*/
body{
    font-family: 'karla';
    background: #f0f0f0;
}
*{
    padding: 0px;
    margin: 0px;
}
.none {
  display: none; }


li {
    list-style: none;
}
.bold {
  font-weight: bold; }

img {
  position: relative; }

section {
  overflow: hidden; }


.navbar-default {

}
.navbar-default .navbar-nav > li > a {
  font-size: 18px;
  color: #1d222e;
  letter-spacing: 2px; }

.navbar-default .navbar-brand {
  color: #1d222e;
  letter-spacing: 2px; }

nav a {
  position: relative; }
  nav a:after {
    content: "";
    height: 3px;
    background-color: #1d222e;
    position: absolute;
    bottom: 5px;
    width: 80%;
    left: 10%;
    display: none; }
  nav a:hover:after {
    display: block;
    background-color: #CCC; }

nav a.active:after {
  display: block !important; }
.search-nav-container {
    position: absolute;
    margin: 7px;
}
.search-nav-container input {
    min-width: 300px;
    text-align: center;
    background-image: url(../images/search-ico.png);
    background-size: 27px;
    background-position: 10px;
    background-repeat: no-repeat;
}
.search-nav-container input::placeholder {
    color: #1d222e;
    opacity: 1;
    font-weight: bold;
    letter-spacing: 3px;
}
.search-nav-container input::-webkit-input-placeholder {
    color: #1d222e;
    opacity: 1;
    font-weight: bold;
    letter-spacing: 3px;
}
.search-nav-container input::-moz-placeholder {
    color: #1d222e;
    opacity: 1;
    font-weight: bold;
    letter-spacing: 3px;
}
.search-nav-container input:-moz-placeholder  {
    color: #1d222e;
    opacity: 1;
    font-weight: bold;
    letter-spacing: 3px;
}
.search-nav-container input:-ms-input-placeholder {
    color: #1d222e;
    opacity: 1;
    font-weight: bold;
    letter-spacing: 3px;
}
div.datedropper.wanderift {

  --dd-color1: #00B5FF;
  --dd-color2: #FFF;
  --dd-color3: #4D4D4D;
  --dd-color4: #FFF;

  --dd-radius: 8px;
  --dd-width: 180px;
  --dd-shadow: 0 0 32px 0px rgba(0, 0, 0, 0.1);

}
/**************************popup********************************/

nav {z-index: 1 !important;}
.new-index.subs .offer {
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out; }

nav.new-index {
    background-color: transparent;
    border: none; }
nav.new-index .navbar-right {
    margin: 5px 0; }
nav.new-index a {
    font-size: 16px !important;
    color: #fff !important;
    font-weight: bold;
    padding: 10px 20px;
    letter-spacing: 0 !important;
    margin: 5px; }
nav.new-index a::after {
    background-color: #00B5FF;
    bottom: -11px; }
nav.new-index a.navbar-brand::after {
    display: none; }
nav.new-index .nav-sub {
    background-color: #00B5FF;
    border-radius: 5px;
    width: 140px;
    text-align: center; }

header.new-index {
   background:linear-gradient(0deg,rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("../images/backgroundsplash.png");
    background-size: cover;
    position: relative; }

header.new-index .fillter {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%; }
header.new-index .box {
    color: #FFF;
    position: relative; }
header.new-index .box h1 {
    font-size: calc(100% + 6vw);
    font-weight: bold; }
header.new-index .box h2 {
    font-size: calc(100% + 2.5vw);
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px; }
header.new-index .box p {
    font-size: 18px;
    font-weight: 400; }
header.new-index .form-container {
    background-color: #FFF;
    margin-top: 30px;
    color: #777;
    border-radius: 5px;
    padding: 10px 20px;
    padding-bottom: 0px;
}
header.new-index .form-container p {
    height: 25px; }
header.new-index .form-container button {
    color: #FFF;
    background-color: #00B5FF;
    width: 100%;
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    height: 60px;}
header.new-index .form-container button:hover {
    background-color: #009bdb; }
header.new-index .form-container select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: ''; }
header.new-index .form-container input {
    border: none;
    box-shadow: none;
    color: #aaa;
    font-size: 16px; }
header.new-index .form-container input::placeholder {
    font-size: 20px;
    color: #aaa; }
header.new-index .form-container .basic {
    font-weight: 400;
    padding: 0;
    font-size: 20px;
    color: #aaa;
    width: 100%;
    border: none;
    box-shadow: none; }
header.new-index .form-container .basic:focus {
    box-shadow: none; }
header.new-index .border-right {
    position: relative; }

.new-index.get-started .form-container {
    max-width: 700px;
    padding: 30px 50px;
    margin: auto;
    border-radius: 5px;
    background-color: #FFF; }
.new-index.get-started .form-container select {
    font-weight: bold;
    color: #000; }
.new-index.get-started .form-container button {
    color: #FFF;
    background-color: #00B5FF;
    width: 250px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    display: block;
    margin: 30px auto;
    letter-spacing: 3px; }
.new-index.get-started .form-container button:hover {
    background-color: #009bdb; }

.box img{
    width: 25px;
    height: 25px;
    /*margin-right: 10px;*/
    margin-left: 10px;
    margin-top: -7px;
}

.main-content{
    margin-top: 20px;
}
.main-content .container-fluid{
    margin-right: 30px;
    margin-left: 30px;
}
#sticky{
    color: #000;
    margin-left: -30px;
   /*display: none;*/

    width: 250px;
    overflow-y: hidden;
    z-index: -1;
}
#sticky.fixed {
    display: block;
    position: fixed;
     top: 0px;
    left: 0px;
    bottom: 10px;

    width: 250px;
    margin-left: 105px;
}
#sticky1{
    color: #000;
    /*margin-left: 50px;*/
   /*display: none;*/

    width: 280px;
    /*overflow-y: hidden;*/
    z-index: -1;
}
#sticky1.fixed1 {
    display: block;
    position: fixed;
     top: 10px;
/*    right: 65px;*/
    bottom: 10px;

    width: 280px;
    /*margin-left: 50px;*/
}
/*.right-side-bar{
     position: fixed;
    top: 30px;
    right: 10px;
    bottom: 10px;
    width: 280px;
    overflow: scroll;
    overflow-x: hidden;
    z-index: -1;
    max-height: 650px;
}*/
.left-side-bar p{
    line-height: 25px;
    font-weight: 500;
}
.left-side-bar .head{
    color: #333;
    font-weight: 500;
    font-size: 20px;
}

.left-side-bar ul li{
    margin-bottom: 20px;
    line-height: 25px;
    font-weight: 500;
}
.left-side-bar ul li span{
    font-size: 50px;
}
/*.left-side-bar ul li:before{
    content: '';
    font-size: 50px;
    position: absolute;
    height: 10px;
    width: 10px;
    color: #000;
    font-weight: 900;

}*/

.left-side-bar .more-trips{
    margin-bottom: 30px;
}

.left-side-bar .more-trips a{
    color: #00B5FF;
    text-decoration: none;
    font-weight: 600;
    margin-bottom: 30px;
}

.view-destination a{
    display: block;
    text-decoration: none;
    color: #222;
    font-weight: 400;
    margin-bottom: 10px;
}
.view-destination a img{
    margin-right: 10px;
}
.timeline-head{
    background: #eee;
    height: 50px;
}
.nav-tabs {
    border: none;
}
.nav-tabs>li{

}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #666;
    font-weight: 600;

}
.nav-tabs .nav-item .active{
    color: #00B5FF;
    /*border-bottom: 3px solid #00B5FF;*/
}
/*.nav-tabs>li.active>a:after{
    content: '';
    position: absolute;
    width: 1100
}*/
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #00B5FF;
    cursor: default;
    background-color: transparent;
    border: 1px solid transparent;
    /*border-bottom-color: transparent;*/
    border-bottom: 3px solid #00B5FF;
}
.nav-tabs>li>a:hover {
    border-color: transparent;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    color: #00B5FF;
}
.timeline-body{
    margin-top: -6px;

}

.timeline-body .post{
    padding-top: 20px;
/*    padding-left: 20px;*/
    padding-bottom: 20px;
    /*padding-right: 20px;*/
    background: #fff;
    border:1px solid #ddd;
    margin-bottom: 20px;
    border-radius: 5px;
}
.timeline-body .post .bottom{
    font-size: 14px;
}
.timeline-body .post .bottom a{
    margin-right: 10px;
}
.timeline-body .post .bottom .built{
    text-align: right;
    padding-right: 10px;
}
.timeline-body .post1{
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    background: #fff;
    border:1px solid #ddd;
    margin-bottom: 20px;
    height: 165px;
    height: auto;
}
.timeline-body .post1 .col-md-3, .timeline-body .post1 .col-md-6, .timeline-body .post1 .col-md-12, .timeline-body .post1 .col-md-8, .timeline-body .post1 .col-md-4{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.timeline-body .post1 .main-img img{
    width: 100%;
    height: 165px;
}
.timeline-body .post1 .head{
    border-bottom: 1px solid #ddd;
}
.timeline-body .post1 .route{
    font-size: 24px;
    color: black;
}
.timeline-body .post1 .dates{
    font-size: 16px;
    color: black;
    margin-top: 10px;
    text-align: right;
    padding-right: 10px;
}
.timeline-body .post1 .airline{
    font-size: 16px;
    color: black;
    margin-top: 10px;
}
.timeline-body .post1 .round-trip{
    font-size: 14px;
    color: black;
    margin-top: 0px;
}
.timeline-body .post1 .deal{
    font-size: 18px;
    color: black;
    margin-top: 10px;
}
.timeline-body .post1 .deal .view{
    text-align: right;
    padding-right: 10px;
}
.timeline-body .post1 .deal2{
    font-size: 18px;
    color: black;
    margin-top: 30px;
}
.timeline-body .post1 .less-then{
    font-size: 14px;
    color: black;
    margin-top: 0px;
}
.btn-view{
    color: #FFF;
    background-color: #00B5FF;
    width: 100%;
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
}
.timeline-body .post .row{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.timeline-body .post P{
    color: #777;
    line-height: 25px;
    font-weight: 500;
    margin-left: -30px;
}
.timeline-body .post .title{
    margin-left: 70px;
    font-weight: 600;
    margin-top: -40px;
}
.timeline-body .post .post-time{
    font-size: 12px;
    color: #CCC;
    margin-top: 5px;
    margin-left: 70px;
}
.timeline-body .post .more {
     text-align: right;
}
.timeline-body .post .more a{
    color: #bbb;

    font-size: 18px;
}
.timeline-body .post .post-img{
    margin-top: 15px;
}
.timeline-body .post .post-img .col-md-12{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.timeline-body .post .post-img img{
    width: 100%;
}
.timeline-body .post .details{
     color: #888;
    font-size: 16px;
    padding-left: 10px;
    margin-top: 15px;
}
.timeline-body .post .details p{
   margin-left: 0px;
}
.timeline-body .post .details i{
    font-size: 22px;

}
.best-deals{
    margin-top: 10px;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
    background: #fff;
    border:1px solid #ddd;
    margin-bottom: 20px;
    border-radius: 5px;
}
.best-deals .head{
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 7px;
}
.best-deals .more {
     text-align: right;
}
.best-deals .more a{
    color: #bbb;

    font-size: 18px;
}
.best-deals .title{
    margin-left: 60px;
    font-weight: 400;
    margin-top: -40px;
    font-size: 16px;
}
.best-deals .post-time{
    font-size: 12px;
    color: #CCC;
    margin-top: 5px;
    margin-left: 60px;
}
.best-deals .deal{
    margin-bottom:20px;
}

.best-deals .more-trips a{
    color: #00B5FF;
    text-decoration: none;
    font-weight: 500;
}
.sponsored{
    margin-top: 10px;
    padding-top: 20px;
    /*padding-left: 10px;*/
    padding-bottom: 20px;
    /*padding-right: 10px;*/
    background: #fff;
    border:1px solid #ddd;
    margin-bottom: 20px;
}
.sponsored .head{
    font-weight: 600;
/*    margin-bottom: -10px;*/
 padding-left: 5px;

    padding-right: 5px;
}
.sponsored .more {
     text-align: right;
     margin-top: -5px;
}
.sponsored .more a{
    color: #bbb;

    font-size: 18px;
}
.sponsored .more span a{
    color: #00B5FF;

    font-size: 14px;
}
.sponsored .sponsor-img{
    margin-top: 15px;
}
.sponsored .sponsor-img img{
    width: 100%;
    height: 200px;
}

.sponsored  .sponsor-img .row{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.sponsored  .sponsor-img .col-md-12{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.sponsored .details{
    padding-left: 10px;
    padding-right: 10px;
    /*margin-top: 10px;*/
}
.sponsored .details h3{
    font-size: 20px;
}
.sponsored .details a{
    color: #00B5FF;
    text-decoration: none;
}
.sponsored .details p{
    margin-top: 5px;
}
.sponsored .view-plan{
    color: #FFF !important;
    background-color: #00B5FF;
    width: 50%;
    padding: 8px;
    text-align: center;
    border: none;
    border-radius: 5px;

    font-size: 14px;
    margin-top: 2%;
     box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2), 0px 6px 5px 5px rgba(0, 0, 0, 0.19);
}
@media only screen and (max-width: 768px) {

}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1200px) {

}

#login-Modal .modal-dialog{
    margin-top: 6%;
    width: 330px;
    margin-left: 54%;
}
#login-Modal .modal-content .login-head{
    border-bottom: 4px solid #d8d8d8;
}
#login-Modal .modal-content .login-head h3{
    font-size: 30px;
    font-weight: 700;
}
#login-Modal .modal-content .login-head p{
    font-weight: 400;
}
#login-Modal .modal-content  .login-body{
    padding-top: 20px;
}
#login-Modal .modal-content  .login-body form .form-group{
    margin-top: 10px;
}
#login-Modal .modal-content  .login-body form input{
    border:2px solid #d8d8d8;
    font-weight: 600;
    height: 40px;
}
#login-Modal .modal-content  .login-body form input:focus{
    border-bottom: 3px solid #00B5FF;
}
#login-Modal .modal-content  .login-body form a{
    color: #000;
    font-weight: 600;
    text-decoration: none;
}
#login-Modal .modal-content  .login-body form .btn-login{
    color: #FFF;
    background-color: #00B5FF;
    width: 100%;
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    /*    height: 60px;*/
}

#signup-Modal .modal-dialog{
    margin-top: 6%;
    width: 330px;
    margin-left: 63%;
}
#signup-Modal .modal-content .login-head{
    border-bottom: 4px solid #d8d8d8;
}
#signup-Modal .modal-content .login-head h3{
    font-size: 30px;
    font-weight: 700;
}
#signup-Modal .modal-content .login-head p{
    font-weight: 400;
}
#signup-Modal .modal-content  .login-body{
    padding-top: 20px;
}
#signup-Modal .modal-content  .login-body form .form-group{
    margin-top: 10px;
}
#signup-Modal .modal-content  .login-body form input{
    border:2px solid #d8d8d8;
    font-weight: 600;
    height: 40px;
}
#signup-Modal .modal-content  .login-body form input:focus{
    border-bottom: 3px solid #00B5FF;
}
#signup-Modal .modal-content  .login-body form a{
    color: #000;
    font-weight: 600;
    text-decoration: none;
}
#signup-Modal .modal-content  .login-body form .btn-login{
    color: #FFF;
    background-color: #00B5FF;
    width: 100%;
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    /*    height: 60px;*/
}


#subscribe-Modal .modal-dialog{
    margin-top: 6%;
    width: 570px;
    margin-left: 50%;
}
#subscribe-Modal .modal-content .login-head{
    border-bottom: 4px solid #d8d8d8;
}
#subscribe-Modal .modal-content .login-head h3{
    font-size: 30px;
    font-weight: 700;
}
#subscribe-Modal .modal-content .login-head p{
    font-weight: 800;
}
#subscribe-Modal .modal-content  .login-body{
    padding-top: 20px;
}
#subscribe-Modal .modal-content  .login-body form input{
    border:2px solid #d8d8d8;
    font-weight: 600;
    height: 40px;
}
#subscribe-Modal .modal-content  .login-body form .form-group{
    margin-top: 10px;
}
#subscribe-Modal .modal-content  .login-body form input:focus{
    border-bottom: 3px solid #00B5FF;
}
#subscribe-Modal .modal-content  .login-body form a{
    color: #000;
    font-weight: 600;
    text-decoration: none;
}
#subscribe-Modal .modal-content  .login-body form .btn-login{
    color: #FFF;
    background-color: #00B5FF;
    width: 100%;
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    /*    height: 60px;*/
}
